Web_services_SOAP_WSDL_UDDI/ClientJava/src/test/java/mypackage/BanqueWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="BanqueServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:4545/?xsd=1"/>
</xsd:schema>
</types>
<message name="convertEuroToDH">
<part name="parameters" element="tns:convertEuroToDH"/>
</message>
<message name="convertEuroToDHResponse">
<part name="parameters" element="tns:convertEuroToDHResponse"/>
</message>
<message name="getCompte">
<part name="parameters" element="tns:getCompte"/>
</message>
<message name="getCompteResponse">
<part name="parameters" element="tns:getCompteResponse"/>
</message>
<message name="getListeCompte">
<part name="parameters" element="tns:getListeCompte"/>
</message>
<message name="getListeCompteResponse">
<part name="parameters" element="tns:getListeCompteResponse"/>
</message>
<portType name="BanqueWS">
<operation name="convertEuroToDH">
<input wsam:Action="http://ws/BanqueWS/convertEuroToDHRequest" message="tns:convertEuroToDH"/>
<output wsam:Action="http://ws/BanqueWS/convertEuroToDHResponse" message="tns:convertEuroToDHResponse"/>
</operation>
<operation name="getCompte">
<input wsam:Action="http://ws/BanqueWS/getCompteRequest" message="tns:getCompte"/>
<output wsam:Action="http://ws/BanqueWS/getCompteResponse" message="tns:getCompteResponse"/>
</operation>
<operation name="getListeCompte">
<input wsam:Action="http://ws/BanqueWS/getListeCompteRequest" message="tns:getListeCompte"/>
<output wsam:Action="http://ws/BanqueWS/getListeCompteResponse" message="tns:getListeCompteResponse"/>
</operation>
</portType>
<binding name="BanqueWSPortBinding" type="tns:BanqueWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="convertEuroToDH">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListeCompte">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueServiceService">
<port name="BanqueWSPort" binding="tns:BanqueWSPortBinding">
<soap:address location="http://localhost:4545/"/>
</port>
</service>
</definitions>